html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    background-color: #575a59;
    width: 100%;
}
a{
    text-decoration: none;
    color: #C5B358;
}
a:hover {
    color: hsl(50, 90%, 56%);
}
html{
    height: 100%;
}
#logokep {
   background-image: url("../pictures/korulvagott_logo.png");
   background-repeat: no-repeat;
   max-height: 5vh;
   width: 20%;
}
.datas{
    background-color: white;
    float: left;
    width: 99.99%;
    margin-top: 20vh;
    margin-bottom: 20vh;
    height: 45vh;

}
.book{
    height: 94%;

    background-image: url("../pictures/hatter2.jpg");
}