html {
  height: 100%;
}
#makeareservation {
  text-align: center;
  font-size: 2rem;
  color: #d5d5d5;

  margin-top: 20vh;
  font-family: "Be Vietnam Pro", sans-serif;
  text-shadow: 3px 3px #000000;
  margin-bottom: 10vh;
}
.datas input {
  background-color: hsl(0, 0%, 10%) !important;
  border: 2px solid hsl(0, 0%, 10%) !important;
  color: #c5b358 !important;
  border-radius: 10px !important;
}
.datas input:focus {
  outline: none !important;
  box-shadow: none;
  border: 2px solid #c5b358 !important;
}
.datas input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.datas input[type="date"] {
  min-width: 160px;
}
.datas .col-form-label {
  font-family: "Be Vietnam Pro", sans-serif;
}
.carousel {
  text-align: center;
  font-size: 1.7rem;
}
.foglalashatter {
  background-color: hsl(0, 0%, 10%);
  background-image: url("../pictures/mainpage/meretezett3_dark.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 92vh;
}
.rightside {
  margin-right: 1vw;
  margin: auto;
  width: 40vw;
}
.leftside {
  width: 30vw;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.datas {
  color: white;
  transition: 0.3s;
  background-color: hsl(0, 0%, 20%);
  width: 22vw;
  margin-left: auto;
  padding: 2.5vh;
  border-radius: 10px;
  box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.5);
  min-width: 400px;
}
.datumok {
  margin-top: 2vh;
}
.rooms {
  width: 75vw !important;
  height: 35vh !important;
}
.src {
  padding: 0.5vw 1vw;
  display: inline-block;
  transition: 0.3s;
  margin-top: 3vh;
  height: 100%;
  width: 65%;
  color: white ;
  border: 3px solid #c5b358 ;
  background: hsl(0, 0%, 10%);
  font-family: "Be Vietnam Pro", sans-serif;
  border-radius: 20px;
  letter-spacing: 1px;
}
.src:hover {
  background-color: #c5b358 ;
  transition: 0.3s;
}
.form-group:last-of-type {
  margin-bottom: 0;
  text-align: center;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

#sorry {
  font-size: 2.5vw;
  font-weight: bolder;
  text-align: center;
  margin: auto;
  color: whitesmoke;
}

#osszesszoba {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

#error {
  color: red;
  padding-top: 1vh;
  margin-bottom: 0 !important;
  width: 95%;
  margin: auto;
}
#error:first-of-type {
  margin-top: 1vh;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 20vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.946); /* Black w/ opacity */
}

/* Modal Content (image) */
.d-block {
  background-color: transparent;
  margin: auto;
  display: block;
  width: 90% !important;
  max-width: 65vw;
  height: 69vh;
}

/* Caption of Modal Image */
#caption {
  font-size: 2rem;
  font-weight: bolder;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 50vw;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 1s;
}

@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 8vh;
  left: 35px;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

h1 {
  font-weight: bold !important;
}
h5 {
  font-style: italic !important;
}

/* button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
} */
