html,body{
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
    color: #C5B358;
}
a:hover {
    color: hsl(50, 90%, 56%);
}
html{
    height: 100%;
}
#logokep {
   background-image: url("../pictures/korulvagott_logo.png");
   background-repeat: no-repeat;
   max-height: 5vh;
   width: 20%;
}
.datas{
    padding: 30px;
    color: white;
    border: 0px solid #C5B358;
    border-radius: 50px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 20vh;
    margin-bottom: 20vh;
    height: 30vh;
    
}
.datas:hover{
    border: 3px solid #C5B358;
    border-radius: 50;
   
  
}
.book{
    height: 94%;

  
}
.col-sm-4{
    width: 30%;

}


.div1{
    margin-top: 1vh;
    margin-bottom: 1vh;
    overflow: hidden;
    text-align: center;
}
.div1 .first{
    float: left;
    margin-left: 3vw;
    background-color: #C5B358;
    color: black;
    border: 3px solid black;
    padding: 0.5vw;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
}
.div1 .second{
    overflow: hidden;
}
.div1 .third{
    float: left;
    margin-left: 1vw;
    padding: auto;
}

.div2{
    margin-top: 1vh;
    margin-bottom: 1vh;
    overflow: hidden;
    text-align: center;
}
.div2 .first{
    float: left;
    margin-left: 11vw;
    margin-top: 3vh;
    background-color: #C5B358;
    color: black;
    border: 3px solid black;
    padding: 0.5vw;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
}
.div2 .second{
    overflow: hidden;
}
.div2 .third{
    float: left;
    margin-left: 1vw;
    padding: auto;
}





body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
