.carousel-inner img{
    height: 54vh;
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 20vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.946); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    height: 500px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 8vh;
    left: 35px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
img {
    border-radius: 8px;
   
  }
.continue, .cancel {
  margin-top: 4vh;
  float: right !important;
  background-color: hsl(0, 0%, 10%);
  color: white;
  border-radius: 20px;
  text-align: center;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Be Vietnam Pro",  sans-serif;
  transition: 0.3s;
}
.cancel{
    margin-right: 1vw !important;
    border: 2px solid red;
    float: left !important;
    margin-left: 0;
}
.cancel:hover {
  color: white;
  background-color: red;
  text-decoration: none;
  transition: 0.3s;
}
.cancel i {
  transition: 0.3s;
}
.cancel:hover i {
  transform: rotate(90deg);
  transition: 0.3s;
}
.continue{
  margin-right: 0vw !important;
  border: 2px solid #C5B358;
  transition: 0.5s;
}
.continue i {
  transform: rotate(-360deg);
  transition: 0.5s;
}
.continue:hover {
  background-color: #C5B358;
  transition: 0.3s;
}
.continue:hover i {
  transform: rotate(0deg);
  transition: 0.5s;
}
.jobbra{
    text-align: right !important;
}
.keret{
    background-color: hsl(0, 0%, 10%);
    color: #fff;
    padding: 3%;
    padding-bottom: 20vh;
}
.carousel-item img {
  inline-size: 100%;
  aspect-ratio: 16 / 9 !important;
  object-fit: cover;
}
.roooom {
  display: flex;
  margin-top: 2%;
  padding: 2%;
  background-color: hsl(0, 0%, 20%);
  border-radius: 20px;
  box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.5);
}
.roooom .szobakepek {
  min-width: 50%;
}
.roooom .szobaszoveg {
  min-width: 50%;
  padding-left: 3%;
}
.szobaszoveg h1 {
  font-family: "Be Vietnam Pro",  sans-serif;
}
.szobaszoveg h4 {
  font-weight: normal;
}
.szobaszoveg p {
  text-align: justify;
  font-size: 20px;
}
.szobaszoveg .divider {
  height: 5px;
  width: 200px;
  background-color: #C5B358;
  margin: 15px 0;
  border-radius: 5px;
}
.szobabottom {
  margin-top: 5% !important;
}
.form-select {
  background-color: hsl(0, 0%, 10%);
  color: white;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
}
.postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 20px 0;
  padding: 0;
}
.postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}
.postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}

@media screen and (max-width: 1500px) {
  .keret {
    padding-left: 12%;
    padding-right: 12%;
  }
  .roooom {
    display: initial;
    background-color: unset;
    box-shadow: none;
  }
  .szobaszoveg {
    padding-left: 0 !important;
    padding-top: 5%;
  }
}
@media screen and (max-width: 1000px) {
  .keret {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 750px) {
  .keret {
    padding-left: 2%;
    padding-right: 2%;
  }
  .szobaszoveg {
    padding-left: 4% !important;
    padding-right: 4% !important;
  }
}
@media screen and (max-width: 550px) {
  .szobakepek,.carousel-inner, .carousel-item img {
    max-height: 250px !important;
  }
  .szobabottom div.d-flex {
    display: initial !important;
  }
  .szobabottom div.d-flex h5:last-of-type {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .szobaszoveg p {
    font-size: 16px;
  }
  .modal-content {
    height: 250px;
    inline-size: 100%;
    aspect-ratio: 16 / 9 !important;
    object-fit: cover;
  }
}