body {
    background-color: black !important;
}

/*Nyitó GIF és cím*/
.gifdiv {
    background-image: url('../pictures/casino/Casinogif/Casino_v06.gif');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 92vh;
}
.cim {
    padding-top: 30vh;
}
.gifdiv h1 {
    font-family: 'Changa', sans-serif;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 8vh;
    text-shadow:       0 1px 0 hsl(0, 62%, 80%),
                       0 2px 0 hsl(0, 62%, 75%),
                       0 3px 0 hsl(0, 62%, 70%),
                       0 4px 0 hsl(0, 62%, 65%),
                       0 5px 0 hsl(0, 62%, 60%),
                       0 6px 0 hsl(0, 62%, 55%),
                       0 7px 0 hsl(0, 62%, 50%),
                       0 8px 0 hsl(0, 62%, 45%),

                       0 0 5px rgba(0,0,0,.05),
                      0 1px 3px rgba(0,0,0,.2),
                      0 3px 5px rgba(0,0,0,.2),
                     0 5px 10px rgba(0,0,0,.2),
                    0 10px 10px rgba(0,0,0,.2),
                    0 20px 20px rgba(0,0,0,.3);
}
.gifdiv h2 {
    color: hsl(0, 62%, 45%);
    text-align: center;
    font-weight: bold;
    font-size: 4vh;
}

/*Általános infó*/
.basic {
    width: 100%;
    background-color: black;
    color: white !important;
    text-align: center;
}
.basicszoveg {
    min-height: 20vh;
    padding-top: 5vh;
}
.basicszoveg h3 {
    font-size: 6vh;
    font-family: 'Changa', sans-serif;
    text-transform: uppercase;
}
.basicszoveg h4 {
    font-size: 3vh;
    padding-bottom: 3vh !important;
    margin-left: 10vh;
    margin-right: 10vh;
}
.basicinfo {
    height: 20vh;
}
.info {
    padding-bottom: 5vh;
    padding-top: 5vh;
}
.info p {
    height: 100%;
    margin-bottom: 0;
    vertical-align: middle;
    font-size: 3vh;
}
.info p svg {
    height: 3vh;

}
.red {
    color: hsl(0, 62%, 45%);
}
.green {
    color: hsl(120, 65%, 30%);
}
.gold {
    color: #C5B358;
}

/*Játékok, kártyák*/
.games {
    background-color: black;
    background-image: url('../pictures/casino/meretezett_casino1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.gamesitems {
    justify-content: center;
}
.gamesitems h1 {
    font-family: 'Changa', sans-serif;
    font-size: 4vh;
    letter-spacing: 0.1vh;
    margin-bottom: 1vh;
}
.gamesitems p {
    font-size: 2vh;
    padding-left: 1vh;
    padding-right: 1vh;
    text-align: justify;
}

/*Poker típusok*/
.pokers {
    width: 100%;
}
.pokercards {
    justify-content: center;
}
.pokerheader {
    justify-content: center;
    padding-top: 1vh;
}
.pokerheader img {
    width: 100%;
    max-width: 100%;
}
.pokerheadszoveg {
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
}
.pokerheadszoveg h1 {
    font-weight: bold;
    font-size: 5vh;
    font-family: 'Changa', sans-serif;
}
.pokerheadszoveg p {
    font-size: 2.5vh;
}

/*Slot Machine*/
.slotmachine {
    width: 100%;
    padding-bottom: 3vh;
}
.slotcards {
    justify-content: center;
}
.slotheader {
    justify-content: center;
    padding-top: 1vh;
}
.slotheader img {
    width: 100%;
    max-width: 100%;
}
.slotheadszoveg {
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}
.slotheadszoveg h1 {
    font-weight: bold;
    font-size: 5vh;
    font-family: 'Changa', sans-serif;
}
.slotheadszoveg h2 {
    font-size: 3vh;
    padding-bottom: 2vh;
}
.slotheadszoveg p {
    font-size: 2vh;
}

.foterr {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
}

@media screen and (max-width: 1270px){
    .gifdiv {
        background-image: url('../pictures/casino/casinoopen.jpg');
        background-color: black;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 92vh;
    }
}
