html, body {
  background: hsl(0, 0%, 20%);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.slidder {
  margin: 0 auto;
  max-width: 90vw;
  box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.6);
}

.slidde_viewer {
  height: 85vh;
  overflow: hidden;
  position: relative;
}

.slidde_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slidde {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slidde:first-child {
  display: block;
}

.slidde:nth-of-type(1) {
  background-image: url('../../pictures/mainpage/meretezett1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.slidde:nth-of-type(2) {
  background-image: url('../../pictures/mainpage/meretezett3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.slidde:nth-of-type(3) {
  background-image: url('../../pictures/mainpage/meretezett2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.slidde:nth-of-type(4) {
  background-image: url('../../pictures/mainpage/meretezett4.jpg'); /*Momofuku Las Vegas*/
  background-repeat: no-repeat;
  background-size: cover;
}


.slidde_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slidde_btn {
  color: black !important;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slidde_btn.active, .slidde_btn:hover {
  color: #C5B358 !important;
  cursor: pointer;
}

.directional_nav {
  height: 85vh;
  margin: 0 auto;
  max-width: 90vw;
  position: relative;
  top: -85vh;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  color: black;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}