body{
    background-color: rgb(230, 221, 221)
}
.eloetelcim{
    text-align: center;
    width: 100%;
    height: 30vh;
    background-image: url('../menu/pictures/eloetel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.cardss{
    padding-right: 0.5vw;
    padding-left: 1.3vw;
}
h1{
    padding-top: 3vh;
    background-color: rgba(15, 15, 15, 0.7);
    vertical-align: middle;
    height: 30vh;
    color: #FFFFFF;
    font-size: 4vw;
    text-align: center;
    font-family: 'Lobster', cursive;
}
.card{
    text-align: center;
    font-size: 1.2vw;
    font-weight: bold;
    padding: 1.1vh;
    width: 280px;
    margin: 1vh;

}
.card:hover{
    color: white;
    background-color: rgb(66, 64, 64);
}
.card img{
    width: 250px;
    height: 35vh;
}
.levescim{
    text-align: center;
    width: 100%;
    height: 30vh;
    background-image: url('../menu/pictures/soups.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.foetelcim{
    text-align: center;
    width: 100%;
    height: 30vh;
    background-image: url('../menu/pictures/foetelek.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.dessertcim{
   
    text-align: center;
    width: 100%;
    height: 30vh;
    background-image: url('../menu/pictures/dessert.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}