/* * {
    transition: 0.3s;
} */
/* * {
    filter: hue-rotate(270deg) !important;
} */
html {
    scrollbar-color: grey black !important;
}
html::-webkit-scrollbar {
  width: 1.5em;
  height: 1em;
}
.tothetop{
    text-decoration: none;
    display: none !important;
    position: fixed;
    z-index: 1111111111;
    background-color: #C5B358;
    color: black;
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 22px;
    padding-top: 7px;
    text-align: center;
    font-weight: bolder;
    transition: 0.3s;
    bottom: 15px;
    right: 15px;
  }
  .tothetop:hover i{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.tothetop:hover {
  animation: shake 3s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(0, -1px, 0);
  }
  20%, 80% {
    transform: translate3d(0, 2px, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(0, -2px, 0);
  }
  40%, 60% {
    transform: translate3d(0, 2px, 0);
    }
}
@media screen and (max-width: 700px){
    .tothetop {
        animation: shake 3s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        perspective: 1000px;
      }
}



html::-webkit-scrollbar-track {
  background: black;
}
html::-webkit-scrollbar-thumb {
  background: grey;
  border: 0.25em solid black;
  border-radius: 100vw;
}
html::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 35%);
}

.leftborder {
    border-left: 0.1px solid black; 
    transition: 0.2s;
}
.leftborder:hover {
    border-left: 4px solid #C5B358; 
    transition: 0.2s;
}


body{
    overflow-x: hidden;
}
ul {
    margin: 0;
}
nav{
    height: 8vh;
    width: 100vw;
    background-color: black;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: sticky;
    z-index: 10000;
}
.kep{
    content: url('../pictures/korulvagott_logo.jpg');
}
.kep:hover {
    content: url('../pictures/repulo.gif');
}
/*Styling logo*/
.logo img {
    max-height: 8vh;
}

/*Styling Links*/
.navlinks{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.navlinks li .navlink{
    text-decoration: none;
    margin: 0 0.7vw;
    color: white;
    font-size: 1.5rem !important;
    transition: 0.3s;
}
.navlinks li .navlink:hover {
    color: #C5B358;
    transition: 0.3s;
}
.navlinks li {
    position: relative;
}
.navlinks li .navlink::after {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #C5B358;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.navlinks li .navlink:hover::after{
    width: 80%;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

.dropdown-menu {
    background-color: black !important;
    text-transform: none;
    transition: none;
}
.lenyilo {
    height: 100%;
}
.lenyilogomb {
    color: white;
    background-color: black;
    border: 1px solid black;
    transition: 0.3s;
}
.lenyilogomb:hover {
    background-color: black;
    color: #C5B358;
    border: 1px solid black;
    transition: 0.3s;
}
.dropdown-menu a {
    color: white;
    transition: 0.3s;
    font-size: 1.2rem !important;
}
.dropdown-menu a:hover {
    background-color: black;
    color: #C5B358;
    transition: 0.3s;
}
.dropdown-divider {
    border-top: 1px solid #C5B358;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.eltuno {
    display: none !important;
    text-align: center;
}
.lenyilogomb i{
    font-size: 1.8rem !important;
}
.dropdown-toggle::after {
    margin-bottom: 0.2em;
}
/* .eltuno li:nth-child(1) {
    margin-top: 2rem !important;
} */
.eltuno li {
    margin-bottom: 0.8rem !important;
}
.eltuno:last-child {
    margin-bottom: 10vh;
}

#username {
    color: white !important;
    background-color: black !important;
    font-size: 0.8rem !important;
    padding-left: 13px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}
#username:hover {
    color: white !important;
    background-color: black !important;
}
.gold {
    color: #C5B358;
}

/*Stying for small screens*/
@media screen and (max-width: 1270px){
    nav{
        position: sticky;
        z-index: 300000;
    }
    .kep{
        content: url('../pictures/small_rounded.png') !important;
    }
    .kep:hover{
        content: url('../pictures/small_repulo.gif') !important;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .navlinks{
        position: fixed;
        background: black;
        height: 100%;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .navlinks.open{
        clip-path: circle(2000px at 90% -10%);
        -webkit-clip-path: circle(2000px at 90% -10%);
        pointer-events: all;
    }
    .navlinks li{
        opacity: 0;
    }
    .navlinks li:nth-child(1){
        transition: all 0.5s ease 0.15s;
    }
    .navlinks li:nth-child(2){
        transition: all 0.5s ease 0.3s;
    }
    .navlinks li:nth-child(3){
        transition: all 0.5s ease 0.45s;
    }
    .navlinks li:nth-child(4){
        transition: all 0.5s ease 0.6s;
    }
    .navlinks li:nth-child(5){
        transition: all 0.5s ease 0.75s;
    }
    .eltuno li:nth-child(1) {
        transition: all 0.5s ease 0.9s;
    }
    .eltuno li:nth-child(2) {
        transition: all 0.5s ease 1.05s;
    }
    .eltuno li:nth-child(3) {
        transition: all 0.5s ease 1.3s;
    }
    li.atmenet{
        opacity: 1;
    }
    .lenyilo {
        display: none !important;
    }
    .eltuno {
        display: initial !important;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}


/*Animáció generátor - https://webcode.tools/generators/css/keyframe-animation*/
.korbekorbe:hover {
    animation: korbekorbe 1.5s linear 0s infinite normal forwards;
   }
.lefordulonyil {
    padding-left: 0.5vh;
    font-size: 1.3rem !important;
    transition: 0.3s;
    animation: felfordulo 0.2s linear 0s normal forwards;
}
.dropdown:hover .lefordulonyil {
    animation: lefordulo 0.2s linear 0s normal forwards;
}
@keyframes korbekorbe {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}
@keyframes lefordulo {
    0% {
      transform: rotateX(0);
    }
    100% {
      transform: rotateX(0.5turn);
    }
}
@keyframes felfordulo {
    0% {
      transform: rotateX(0.5turn);
    }
    100% {
      transform: rotateX(0);
    }
}