html {
    scrollbar-color: grey black !important;
}
html::-webkit-scrollbar {
  width: 1.5em;
  height: 1em;
}
html::-webkit-scrollbar-track {
  background: black;
}
html::-webkit-scrollbar-thumb {
  background: grey;
  border: 0.25em solid black;
  border-radius: 100vw;
}
html::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 35%);
}



body{
    overflow-x: hidden;
}
ul {
    margin: 0;
}
nav{
    height: 8vh;
    width: 100vw;
    background-color: black;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: sticky;
    z-index: 10;
}
.kep{
    content: url('../pictures/korulvagott_logo.png') !important;
}
/*Styling logo*/
.logo img {
    max-height: 8vh;
}

/*Styling Links*/
.navlinks{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.navlinks li .navlink{
    text-decoration: none;
    margin: 0 0.7vw;
    color: white;
    font-size: 1.5rem !important;
}
.navlinks li .navlink:hover {
    color: #C5B358;
}
.navlinks li {
    position: relative;
}
.navlinks li .navlink::after {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #C5B358;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.navlinks li .navlink:hover::after{
    width: 80%;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

.dropdown-menu {
    background-color: black !important;
    text-transform: none;
}
.lenyilogomb {
    background-color: black;
    border: 1px solid black;
    transition: 0.3s;
}
.lenyilogomb:hover {
    background-color: black;
    color: #C5B358;
    border: 1px solid black;
    transition: 0.3s;
}

.dropdown-menu a {
    color: white;
    transition: 0.3s;
}
.dropdown-menu a:hover {
    background-color: black;
    color: #C5B358;
    transition: 0.3s;
}


/*Stying for small screens*/
@media screen and (max-width: 1270px){
    nav{
        position: sticky;
        z-index: 3;
    }
    .kep{
        content: url('../pictures/small_rounded.png') !important;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .navlinks{
        position: fixed;
        background: black;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .navlinks.open{
        clip-path: circle(2000px at 90% -10%);
        -webkit-clip-path: circle(2000px at 90% -10%);
        pointer-events: all;
    }
    .navlinks li{
        opacity: 0;
    }
    .navlinks li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .navlinks li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .navlinks li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .navlinks li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .navlinks li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    li.atmenet{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}