body{
    background-color: rgb(29, 29, 29);
}
.rating{
    min-height: 68.6vh;
    margin-top: 15vh !important;
    
}
.rating h2, #ratings{
    font-size: 5rem;
    color: #e6cc4f;
}
#ratings{
    margin-top: 10vh !important;
}
.rating label{
    font-size: 2rem;
    color: #C5B358;
}
.btn{
    background-color: #e6cc4f;
    float: right;
    width: 10vw;
}
.form-control{
    border: 2px solid rgb(230, 204, 79) !important; 
    color: rgb(255, 222, 55) !important; 
}
input[type=textarea]{
    height: 6vh;
}

.card{
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 70vw;
    height: 40vh;
    border: 0px solid black !important;
    
}
.user img{
    margin-top: 8vh;
    width: 7vw;
}
.user{
    color: rgb(250, 174, 28);
    background-color: rgb(0, 0, 0);
    height: 40vh;
    text-align: center;
}
.user #name{
    font-size: 4rem;
    margin-bottom: 0px !important;
}
.user #email{
    margin-top: 0px !important;
    font-size: 1rem;
}
.ratedescription{
    background-color: rgb(250, 174, 28);
    height: 40vh;
}
.ratedescription p{
    margin-left: 1vw;
    margin-top: 5vh;
    font-size: 2rem;
}
.scrolldown{
    float: right;
}