body{
    background-color: rgb(29, 29, 29);
}
.rating{
    min-height: 72.6vh;
    margin-top: 15vh !important;
    
}
.rating h2{
    font-size: 5rem;
    color: #e6cc4f;
}
.rating label{
    font-size: 2rem;
    color: #C5B358;
}
.btn{
    background-color: #e6cc4f;
    float: right;
    width: 10vw;
}
.form-control{
    border: 2px solid rgb(230, 204, 79) !important; 
    color: rgb(255, 222, 55) !important; 
}
input[type=textarea]{
    height: 6vh;
}

.card{
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 40vw;
    height: 40vh;
    
}
.user img{
    margin-top: 8vh;
    width: 7vw;
}
.user{
    color: rgb(250, 174, 28);
    background-color: rgb(0, 0, 0);
    height: 40vh;
    text-align: center;
}
.ratedescription{
    background-color: rgb(250, 174, 28);
    height: 40vh;
}