@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
body {

	font-size: 12px;
	line-height:30px;
	color:#777;
	background-color: #222222;
	background: repeating-linear-gradient(
		45deg,
		#2b2b2b 0%,
		#2b2b2b 10%,
		#222222 0%,
		#222222 50%
	  )
	  0 / 15px 15px;
}

.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#reservation input[type="text"], #reservation input[type="email"], #reservation input[type="tel"], #reservation input[type="url"], #reservation textarea, #reservation button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#reservation {
	background:#000000;
	padding:25px;
	margin:50px 0;
}

#reservation h3 {
	color: white;
	display: block;
	font-size: 30px;
	font-weight: 400;
}
input[type="checkbox"] { /* change "blue" browser chrome to yellow */
	filter: invert(100%) hue-rotate(18deg) brightness(1.7);
  }
#reservation h4 {
	color: whitesmoke;
	margin:5px 0;
	display:block;
	font-size:13px;
	margin-top:5px;
}
#reservation .dropdown-divider {
	width: 100%;
	margin: none;
}
.resemail {
	font-size: 15px !important;
	margin-left: 0 !important;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#reservation input[type="text"], #reservation input[type="email"], #reservation input[type="tel"], #reservation input[type="url"], #reservation textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#reservation input[type="text"]:hover, #reservation input[type="email"]:hover, #reservation input[type="tel"]:hover, #reservation input[type="url"]:hover, #reservation textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#reservation textarea {
	height:100px;
	max-width:100%;
  resize:none;
}
label{
	color: #DAA520 !important;
	font-weight: bold;
	font-size: 0.9vw;
}
#reservation button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background-color: #e2c639;
	color:rgb(0, 0, 0);
	margin-bottom: 1vh;
	margin-top: 0 !important;
	padding:10px;
	font-size:15px;
	font-weight: bold;
}
#reservation-submit:hover {
	background-color: hsl(50, 48%, 41%) !important;
}
#Add-Consumption:hover {
	background-color: hsl(50, 48%, 41%) !important;
}
#reservation-delete {
	background-color: hsl(0, 100%, 45%) !important;
	color: whitesmoke !important;

}
#reservation-delete:hover {
	background-color: hsl(0, 100%, 35%) !important;
}


#reservation input:focus, #reservation textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
	.neon1{
	
	background-color: black;

	border-radius: 8px;
	box-shadow: 0 0 10px #c5b359,
	0 0 10px #c5b359,
	0 0 25px #c5b359,
	0 0 20px #c5b359;
	}
	.neon1:hover{
	
		background-color: black;
	
		border-radius: 8px;
		box-shadow: 0 0 25px #c5b359,
		0 0 20px #c5b359,
		0 0 50px #c5b359,
		0 0 90px #c5b359;
	}