.emailaktivalas {
    height: 92vh;
    color: white;
    text-align: center;
}
.aktivalasContent {
    padding-top: 20vh;
}
.aktivalasContent h2 {
    font-family: 'Be Vietnam Pro', sans-serif;
    padding-bottom: 2vh;
}
.aktivalasContent p {
    padding-bottom: 4vh;
}
.aktivalasContent a {
    border-radius: 30px;
    border: 1px solid #C5B358;
    padding: 8px 13px;
    text-decoration: none;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.aktivalasContent a:hover {
    background-color: #C5B358;
    color: black;
}

@media screen{
    .aktivalasContent {
        padding-left: 5vh;
        padding-right: 5vh;
    }
}