.emailaktivalas {
    height: 92vh;
    color: white;
    text-align: center;
}
.aktivalasContent {
    padding-top: 20vh;
}
.aktivalasContent #error {
    font-size: 6vh;
    color: hsl(0, 100%, 40%);
    margin-bottom: 2vh;
}
.aktivalasContent #success {
    font-size: 6vh;
    color: green;
    margin-bottom: 2vh;
}
.aktivalasContent h1 {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #C5B358;
}
.aktivalasContent p {
    font-size: 2.5vh;
    padding-bottom: 4vh;
}
.aktivalasContent a {
    border-radius: 30px;
    border: 1px solid #C5B358;
    padding: 8px 13px;
    text-decoration: none;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    transition: 0.3s;
}
.aktivalasContent a:hover {
    background-color: #C5B358;
    color: black;
    transition: 0.3s;
}

@media screen{
    .aktivalasContent {
        padding-left: 5vh;
        padding-right: 5vh;
    }
}