body,html {
    background-color: hsl(0, 0%, 10%);
    color: white;
}
.alert {
    width: 40vw;
    margin: 0 auto;
}
.forgotpassword{
    color: white;
    width: 40vw;
    margin: 0 auto;
    background-color: hsl(0, 0%, 25%);
    border-radius: 10px;
    margin-top: 10vh;
    padding: 5vh;
}
.forgotpassword h1 {
    color: #C5B358;
    text-transform: uppercase;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 3vh;
}
.forgotpassword p {
    margin-top: 3vh;
    margin-bottom: 0;
}
form {
    margin-top: 3vh;
}
form button {
    margin-top: 1vh;
    color: white;
    border: 3px solid #C5B358;
    background-color: hsl(0, 0%, 20%);
    font-family: 'Be Vietnam Pro', sans-serif;
    border-radius: 20px;
    letter-spacing: 1px;
    padding: 8px 30px; 
    width: unset;
    height: unset;
}
form button:hover {
    background-color: #C5B358;
}
.forgotpassword a {
    text-decoration: none;
    color: #C5B358;
}
.forgotpassword a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1270px){
    .forgotpassword{
        width: 70vw;
    }
}
@media screen and (max-width: 900px){
    .forgotpassword{
        width: 90vw;
        padding: 4vh;
    }
}
