html, body {
    background-color: hsl(0, 0%, 10%) !important;
}
#newPasswordSet,#errorNewPassword{
    text-align: center;
}
#newPasswordSet h1,#errorNewPassword h1{
    color: white !important;
}
#newPasswordSet a,#errorNewPassword a {
    border-radius: 20px;
    border: 2px solid #C5B358;
    padding: 8px 30px;
    background-color: hsl(0, 0%, 10%);
    color: white;
    text-transform: uppercase;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

#newPasswordSet a:hover, #errorNewPassword a:hover {
    background-color: #C5B358;
    text-decoration: none;
}
#newPasswordSet p, #errorNewPassword p {
    margin-bottom: 5vh;
    color: #C5B358;
}
#validator-output {
    padding-top: 2vh;
}
#validator-output .valid {
    color: hsl(120, 100%, 35%);
}
#validator-output .invalid {
    color: hsl(0, 100%, 50%);
}
#divider {
    border-bottom: 2px solid #C5B358;
    width: 100%;
    margin-bottom: 3vh;
}
.newpassword {
    color: white;
    width: 47vw;
    margin: 0 auto;
    background-color: hsl(0, 0%, 25%);
    border-radius: 10px;
    margin-top: 10vh;
    padding: 5vh;
    transition: 0.3s;
}
.newpassword h1:first-of-type {
    color: #C5B358;
    text-transform: uppercase;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 3vh;
}
form {
    margin-top: 3vh;
}
form button {
    margin-top: 2vh;
    color: white;
    border: 3px solid #C5B358;
    background-color: hsl(0, 0%, 20%);
    font-family: 'Be Vietnam Pro', sans-serif;
    border-radius: 20px;
    letter-spacing: 1px;
    padding: 8px 30px; 
    width: unset;
    height: unset;
    text-transform: uppercase;
}
form button:disabled {
    border: 3px solid hsl(50, 48%, 26%);
    color: hsl(0, 0%, 60%);
}
form button:disabled:hover {
    background-color: hsl(0, 0%, 20%);
}
form button:hover {
    background-color: #C5B358;
}
.newpassword a {
    text-decoration: none;
    color: #C5B358;
}
.newpassword a:hover {
    text-decoration: underline;
}
#errorNewPassword {
    text-align: center !important;
}
.newpassword .row h1:last-child {
    text-align: right;
    font-size: 2vh;
}

@media screen and (max-width: 1400px){
    .newpassword{
        width: 80vw;
    }
}
@media screen and (max-width: 991px){
    .newpassword .row h1:last-child {
        text-align: unset;
    }
    #passwordMatch2 {
        margin-top: 2vh;
        max-width: 30vh;
    }
    #passwordMatch1 {
        margin-top: 2vh;
        max-width: 30vh;
    }
    form {
        margin-bottom: 2vh;
    }
    #validator-output {
        font-size: 14px;
        padding-top: 0;
    }
}
@media screen and (max-width: 900px){
    .newpassword{
        width: 90vw;
        padding: 4vh;
    }
}
