html, body {
    background-color: hsl(0, 0%, 10%) !important;
}
#validator-output .valid {
    color: green;
  }
  #validator-output .invalid {
    color: red;
  }
.newpassword {
    color: white;
    width: 40vw;
    margin: 0 auto;
    background-color: hsl(0, 0%, 25%);
    border-radius: 10px;
    margin-top: 10vh;
    padding: 5vh;
}
.newpassword h1 {
    color: #C5B358;
    text-transform: uppercase;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 3vh;
}
form {
    margin-top: 3vh;
}
form button {
    margin-top: 1vh;
    color: white;
    border: 3px solid #C5B358;
    background-color: hsl(0, 0%, 20%);
    font-family: 'Be Vietnam Pro', sans-serif;
    border-radius: 20px;
    letter-spacing: 1px;
    padding: 8px 30px; 
    width: unset;
    height: unset;
}
form button:disabled {
    border: 3px solid hsl(50, 48%, 26%);
    color: hsl(0, 0%, 60%);
}
form button:disabled:hover {
    background-color: hsl(0, 0%, 20%);
}
form button:hover {
    background-color: #C5B358;
}
.newpassword a {
    text-decoration: none;
    color: #C5B358;
}
.newpassword a:hover {
    text-decoration: underline;
}
#errorNewPassword {
    text-align: center !important;
}
.newpassword .row h3 {
    text-align: right;
}

@media screen and (max-width: 1400px){
    .newpassword{
        width: 70vw;
    }
}
@media screen and (max-width: 991px){
    .newpassword .row h3 {
        text-align: unset;
    }
}
@media screen and (max-width: 900px){
    .newpassword{
        width: 90vw;
        padding: 4vh;
    }
}
