* {
  transition: all 0.3s ease-out;
}

p.small {
  font-size: 14px;
}
.customcard1,.customcard2,.customcard3 {
  border: none !important;
  border-radius: 5px;
  width: 50vh;
  padding: 0;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.customcard1 {
  background-color: hsl(120, 65%, 20%);
  margin-left: 1vw;
  margin-right: 1vw;
}
.customcard1 img{
  height: 30vh;
}
.customcard1:hover{
  box-shadow: 0px 0px 3000px 3000px rgba(0, 0, 0, 0.5);
  z-index: 500;
  background-color: hsl(120, 65%, 30%);
}
.customcard1:hover h1{
  letter-spacing: 0.5vh;
  margin-bottom: 0;
  font-size: 4.8vh;
}

.customcard2 {
  background-color: hsl(0, 62%, 35%);
  margin-left: 1vw;
  margin-right: 1vw;
}
.customcard2 img{
  height: 30vh;
}
.customcard2:hover{
  box-shadow: 0px 0px 3000px 3000px rgba(0, 0, 0, 0.5);
  z-index: 500;
  background-color: hsl(0, 62%, 45%);
}
.customcard2:hover h1{
  letter-spacing: 0.5vh;
  margin-bottom: 0;
  font-size: 4.8vh;
}

.customcard3 {
  background-color: hsl(120, 65%, 20%);
  margin-left: 1vw;
  margin-right: 1vw;
}
.customcard3 img{
  height: 30vh;
}
.customcard3:hover {
  box-shadow: 0px 0px 3000px 3000px rgba(0, 0, 0, 0.5);
  z-index: 500;
  background-color: hsl(120, 65%, 30%);
}
.customcard3:hover h1{
  letter-spacing: 0.5vh;
  margin-bottom: 0;
  font-size: 4.8vh;
}


@media screen and (max-width: 715px){
  .customcard1,.customcard2,.customcard3 {
    margin-top: 0;
    margin-bottom: 0;
  }
}