body{
    height: 100%;
    background-color: #575a59;
}
html{
    height: 100%;
}
#logo {
    max-height: 10vh;
    margin-left: 10vh;
    z-index: 10;
}
#vonal{
    color: black;
    background-color: black;
    width: 100%;
    height: 5%;
}
#navbarrr{
    height: 100%;
  
}
#navbaritemm{
    color: rgb(214, 192, 118);
    
}
