<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=diak.jedlik.eu;Database=PeacefulParadise;Uid=PeacefulParadise;Pwd=PP202114a;"
         providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>