
#vonal{
    color: black;
    background-color: black;
    width: 100%;
    height: auto;
}
#navbarrr{
  padding-top: 0;
  padding-right: 1vw;
  width: 100%;
}
@font-face{
    font-family: stereogothic;
    src: url("../Stereo Gothic 500.ttf");
}
#navbaritemm{
   
    color: #C5B358;
    margin: 2vh;
    font-family: stereogothic;
    font-size: 1.7vh;
    letter-spacing: 0.4vh;
    float: right;
}