.lapozo {
    height: 90%;
}

.elso,.masodik,.harmadik{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 75vh;
}
.elso {
    padding-top: 65vh;
}
.elso h1{
    color: white;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 5.5vh;
    -webkit-text-stroke: 2px black;
    text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.elso h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-style: italic;
    font-size: 4vh;
    color: #C5B358;
    -webkit-text-stroke: 1px black;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.masodik {
    padding-top: 65vh;
}
.masodik h1{
    color: white;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 5.5vh;
    -webkit-text-stroke: 2px black;
    text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.harmadik {
    padding-top: 65vh;
}
.harmadik h1{
    color: white;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 5.5vh;
    -webkit-text-stroke: 2px black;
    text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

/*Hotel amenities - services*/
.icons {
    text-align: center;
    margin-top: 3vh;
    background-color: hsl(0, 0%, 10%);
    color: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.icons .focim {
    margin-bottom: 5vh;
}
.icons .focim h1{
    font-family: 'Be Vietnam Pro', sans-serif;
    text-transform: uppercase;
    color: #C5B358;
    font-size: 4.5vh;
}
.icons .focim p {
    font-style: italic;
    font-size: 1.8vh;
}
.icons .row {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}
.icons .row div {
    transition: 0.3s;
    padding: 2.5vh 3vh;
    cursor: default;
}
#evcharger {
    text-align: center;
    cursor: wait;
    transition: 0.3s;
}
#evcharger:hover {
    background: linear-gradient(to right, #FFF 20%, #5eff00 40%, #5eff00 60%, #FFF 80%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 1.2s linear infinite;
}
@keyframes shine {
    to {
      background-position: 200% center;
    }
  }
.icons .row div i, .icons a i{
    font-size: 4vh;
    padding-bottom: 1vh;
}
.icons .row div:hover {
    transition: 0.3s;
    color: #C5B358;
}
.icons a {
    color: white;
    text-decoration: none;
    transition: 0.3s !important;
    border-radius: 30px !important;
    padding: 2.5vh 3vh;
}
.icons a:hover{
    color: #C5B358;
    transition: 0.3s;
}
.icons .row h1 {
    font-size: 2.5vh;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.icons p {
    font-size: 1.5vh;
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
}

/*Szoba utáni elválasztó*/
.roomelvalaszto {
    background-color: hsl(0, 0%, 10%);
    color: white;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.roomelvalaszto .header h1 {
    color: #C5B358;
    font-family: 'Be Vietnam Pro', sans-serif;
    text-transform: uppercase;
}
.roomelvalaszto .header p {
    margin-bottom: 0;
    font-size: 1.5vh;
}
.roomelvalaszto .leiras {
    width: 70%;
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}
.roomelvalaszto .leiras div{
    margin-left: auto;
    margin-right: auto;
}
.roomelvalaszto .leiras div h1 {
    color: #C5B358;
    transition: 0.3s;
}
.roomelvalaszto .leiras div h3 {
    font-family: 'Be Vietnam Pro', sans-serif;
}





/*Mobil nézet*/
@media screen and (max-width: 1000px){
    .roomcim h1{
        font-size: 9vh;
        text-transform: uppercase;
        text-align: center !important;
        float:none !important;
    }
    .roomszoveg p{
        padding-top: 2vh;
        font-size: 2vh;
        margin-left: auto;
        margin-right: auto;
    }
}